<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>226114276995-g9m19i5bsosbmmlp9sudu3hjs4eo5sjt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.226114276995-g9m19i5bsosbmmlp9sudu3hjs4eo5sjt</string>
	<key>API_KEY</key>
	<string>AIzaSyBy489hKvTfjgBH0rrlIRFqEceeL4ch7VQ</string>
	<key>GCM_SENDER_ID</key>
	<string>226114276995</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sandboxgame.rabbitfarm</string>
	<key>PROJECT_ID</key>
	<string>rabbit-s-carrot-farm</string>
	<key>STORAGE_BUCKET</key>
	<string>rabbit-s-carrot-farm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:226114276995:ios:112d4c74da8d600ba255b6</string>
</dict>
</plist>